
h2{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.titlePage_header {
    background-color: #304D30;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 63px;
    padding-top: 0;
 
}

body {
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
}

.background-color_images {
    background-color: rgb(195, 195, 195);
    margin-top: 60px;
    height: 100vh; /* Updated to use viewport height */
}

.image-fixed-position{
    width: 100%;
    height: auto;
    display: block;
}




.bHeader_position{
    position: absolute; 
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0;
  }

  .parkwood_image-resize {
    height: 60px;
    width: 100px;

  }


.button_style{
    background-color: #304D30;
    color: white;
    border: none;
    border-right: 0.5px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    padding: 10px; 
    cursor: pointer;
    width: 150px;
    height: 63px;
    line-height: 40px; 
    font-size: 10px;
   
  }

  .button_style:hover {
    border-bottom:  10px solid whitesmoke; 
    
}

  .bAnnouncement_position{
    left: 871px;
  }

  .bAbout_position{
    left: 1021px;
  }

  .bHomeownerLogin_position{
    left: 1171px;
  }

 


 
  
