
h2{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.titlePage_header {
    background-color: #304D30;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 63px;
    padding-top: 0;
 
}

.background-color_images{
    padding-bottom: 300px;
    background-color: black;
    bottom: 300px;

}

.bHeader_position{
    position: absolute; 
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0;
  }

  .parkwood_image-resize {
    height: 60px;
    width: 100px;
    vertical-align: auto;

}
.temporaryHouse-resize {
    width: 100%;
    height: 100;
    margin: 0;
    padding: 0;
    
}



.button_style{
    background-color: #304D30;
    color: white;
    border: none;
    border-right: 0.5px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    padding: 10px; 
    cursor: pointer;
    width: 150px;
    height: 63px;
    line-height: 40px; 
    font-size: 10px;
   
  }

  .button_style:hover {
    border-bottom:  10px solid whitesmoke; 
    
}

  .bAnnouncement_position{
    left: 871px;
  }

  .bAbout_position{
    left: 1021px;
  }

  .bHomeownerLogin_position{
    left: 1171px;
  }

 


 
  
