
.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px ;
    font-weight:bold    ;
    color: #FFFFFF;
    background-color: #163020;
    width: 190px;
}

.contact-button:hover{
   text-decoration: underline;
   opacity: 0.8;
}

.contact-button:active{
    text-decoration: underline;
    opacity: 0.5;
 }

 .right-side-contact{
    padding: 5px;
 }

 .facebook-button{
    background-color: #4267B2;
    height: 40px;
    width: 430px;
    color: white;
    border-radius: 30px;
    font-size:15px;
    font-weight: bold;
 }

 .facebook-button:hover{
   opacity: 0.8;
 }

 .facebook-button:active{
   opacity: 0.5;
 }

 .google-button{
    background-color: white;
    height: 40px;
    width: 430px;
    border: 1px black solid;
    border-radius: 30px;
    font-size:15px;
    font-weight: bold;
 }

 .google-button:hover{
   opacity: 0.8;
 }
 .google-button:active{
   opacity: 0.5;
 }

 .log-in-button{
    margin-top: 10px;
    margin-left:10px ;
   background-color: #304D30;
   color: white;
   font-size: 20px;
   font-weight: bolder;
    width: 445px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
 }

 .log-in-button:hover{
    opacity: 0.9;
 }


 .log-in-button:active{
    opacity: 0.7;
 }

