


.button-register{
    width: 420px;
    
}


.facebook-button{
    background-color: #4267B2;
    height: 40px;
    width: 430px;
    color: white;
    border-radius: 30px;
    font-size:15px;
    font-weight: bold;
 }

 .facebook-button:hover{
   opacity: 0.8;
 }

 .facebook-button:active{
   opacity: 0.5;
 }

 .google-button{
    background-color: white;
    margin-top:20px ;
    height: 40px;
    width: 430px;
    border: 1px black solid;
    border-radius: 30px;
    font-size:15px;
    font-weight: bold;
 }

 .google-button:hover{
   opacity: 0.8;
 }
 .google-button:active{
   opacity: 0.5;
 }