


*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
    border: 0px;
    padding: 0px;
    
}


header{
    background-color: #163020;
    color: white;
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 75px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 500px;
    padding: 10px;
    padding-left: 20px;
    
}

body{
    background-color: #EEF0E5;
    display: block;
   position: fixed;
    top: 75px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    
}


